.app__navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family: var(--font-base);

    padding: 1rem 2rem;
    background: rgba(255, 255, 255, 0.25);

    // This property can be seen when scrolled down
    // This will create blurr effect on navbar
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px); // for all browsers
    border: rgba(255, 255, 255, 0.18);
    position: fixed;
    z-index: 2; // Navbar will look like it is above the page
}

.app__navbar-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    // nesting
    img {
        width: 90px;
        height: 20px;

        @media screen and (min-width: 2000px) {
            width: 180px;
            height: 40px;
        }
    }
}

.app__navbar-links {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;

    li {
        margin: 0 1rem;
        cursor: pointer;

        flex-direction: column;
        
        
        div {
            width: 5px;
            height: 5px;
            background: transparent;
            border-radius: 50%;
            margin-bottom: 4px;
        }
        
        a {
            color: var(--gray-color);
            text-decoration: none;
            flex-direction: column;
            text-transform: uppercase;
            font-weight: 500;
            
            transition: all 0.3s ease-in-out;
            
            &:hover{
                color: var(--secondary-color);
            }
        }
        &:hover{
            div{
                background: var(--secondary-color);
                transition: all 0.3s ease-in-out;
            }
        }
    }
}
